
/* STYLE 1 */

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@media only screen and (min-width: 800px) {
  .omni-rental-box-1{ 
      font-family: Arial, Helvetica, sans-serif;
      margin-top: 0%;
      padding: 1%;
      width: 400px;
      border: none;
  } 

  .omni-rental-item-name-1{
    padding-top: 2%;
    font-size: 48px;
    font-weight: 700;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.0em;
    padding-left: 2%;
  }

  .omni-rental-image-1{ 
    height: 300px;
    width: 400px; 
    background-size: cover; 
    border-color: #E8E8E8; 
    border-width: 1px; 
    border-style: solid; 
    border-radius: 10px;
  }

  .omni-rental-link-1{
    text-decoration: none;
  }

  .omni-rental-description-1{
    font-size: 18px;
    color: #000;
    padding-left: 2%;
    opacity: 0.5;
  }
  /* STYLE 2 */

  .omni-rental-box-2{ 
  border-width: 1px; 
  border-color: transparent; 
  border-style: solid; 
  width: 300px; 
  height: 300px;
  padding-bottom: 0%;
  margin-right: 0%;
  margin-top: 2%;
  margin-top: 20%;
  } 

  .omni-rental-button{ 
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #F2F4F5;
    color: white;
    font-size: 1.6vw;
    width: 80%;
    border-radius: 8px;
    border-color: #E8E8E8; 
    border-width: 1px;
    color: #000;
    font-weight: 300;
    display: inline-block;
    margin-left: 30%;
  } 

  .style-button{
  width: 10%;
  font-size: 18px;
  margin-right: 1%;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: lavender;
  border-width: 1px;
  padding-top: 1%;
  padding-bottom: 1%;
  outline: none;
  }

  .logo{
    padding-right: 5%;
    height: 2vw;
    width: 2vw;
    vertical-align: bottom;
  }

  /* STYLE 3 */

  .omni-rental-box-3{ 
  border-width: 1px; 
  border-color: transparent; 
  border-style: solid; 
  width: 300px; 
  padding-top: 0%;
  padding-bottom: 2%;
  top: 0;
  margin-right: 0%;
  margin-top: 5%;
  margin-left: 5%;

  background-size: cover; 
  border-color: #E8E8E8; 
  border-width: 1px; 
  border-style: solid; 
  border-radius: 10px;
  } 

  .omni-rental-item-name-3{
  padding-top: 2%;
  font-size: 2vw;
  font-weight: 700;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  }

  .omni-rental-image-3{ 
  height: 250px; 
  width: 250px;
  } 

  .omni-rental-button-3{ 
  padding-top: 10px; 
  padding-bottom: 10px; 
  background-color: #E81F24;
  color: white;
  font-size: 16px;
  width: 80%;
  border-radius: 8px;
  border-color: transparent;
  } 

  /*END OF STYLES*/

  .omni-rental-link{ 
  text-decoration: none; 
  }

  .right-section{
  padding-left: 10%;
  }

  .input-form{
  padding-top: 0%;
  padding-left: 5%;
  padding-bottom: 5%;
  float: right;
  margin-right: 10%;
  width: 40%;
  }

  .input-box{
  margin-bottom: 1%;
  font-size: 16px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  width: 100%;
  }

  .input-box::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color:#000;
  opacity: 0.2; /* Firefox */
  }

  .input-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#000;
  opacity: 0.2; /* Firefox */
  }

  .input-box::-ms-input-placeholder { /* Microsoft Edge */
  color:#000;
  opacity: 0.2; /* Firefox */
  }

  .code-snippet-box{
  width: 100%;
  height: 300px;
  z-index: -999;
  margin-left: 20%;
  margin-top: 1%;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  font-size: 14px;
  color: grey;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 3px;
  outline: none;
  float: right;
  background-color: #F2F4F5;
  font-family: 'Source Code Pro', monospace;
  }

  .change-style-buttons{
  margin-right: 10%;
  margin-top: 5%;
  margin-left: 5.5%;
  } 

  .copyButton{
  width: 100%;
  font-size: 18px;
  margin-right: 1%;
  background-color: white;
  border-radius: 5px;
  border-style: solid;
  border-color: lavender;
  border-width: 1px;
  padding-top: 1%;
  padding-bottom: 1%;
  outline: none;
  }

  h1{
  font-size: 28px;
  }

  h2{
  font-size: 18px;
  }

  .logoDiv{
  padding-top: 2%;
  }
}