
.omni-rental-image{ 
  height: 50%; 
  width: 100%;
} 

.omni-rental-item-name{
  padding-top: 2%;
  font-size: 22px;
  font-weight: 700;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
}

.omni-rental-button{ 
  padding-top: 10px; 
  padding-bottom: 10px; 
  background-color: #E81F24;
  color: white;
  font-size: 16px;
  width: 80%;
  border-radius: 8px;
  border-color: transparent;
} 

.omni-rental-box{ 
  border-width: 1px; 
  border-color: transparent; 
  border-style: solid; 
  border-radius: 20px;
  width: 20%; 
  height: 20%;
  padding-bottom: 2%;
  top: 0;
  margin-right: 0%;
  margin-top: 2%;
  box-shadow: 0 37.125px 70px -12.125px rgba(0,0,0,0.3);
} 

.omni-rental-link{ 
  text-decoration: none; 
}

.right-section{
  padding-left: 10%;
}

.input-form{
  padding-top: 8%;
  padding-left: 5%;
  padding-bottom: 5%;
  float: right;
  margin-right: 10%;
  width: 40%;
}

.input-box{
  margin-bottom: 1%;
  font-size: 18px;
  padding: 1%;
  width: 100%;
}

.code-snippet-box{
  width: 100%;
  z-index: -999;
  margin-left: 5%;
  margin-top: 10%;
  margin-bottom: 5%;
  padding-top: 1%;
  padding-left: 1%;
  padding-bottom: 1%;
  font-size: 16px;
  color: grey;
  border: none;
  outline: none;
  float: right;
}

.change-style-buttons{
  margin-right: 10%;
  margin-top: 5%;
  margin-left: 10%;
} 

.copyButton{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 16px;
  background: none;
  border: none;
}